body {
  border: 10px solid transparent;
  background: #192530;
  color: #33485F;
}

a {
  color: #227FBB;
}

a:hover, a:focus, a:active {
  color: #1BC1F5;
}

.thin {
  font-weight: 100 !important;
}

.hidden {
  opacity: 0;
}

.button.stroke:hover {
  border: 3px solid white;
  background-color: rgba(27, 193, 245, 0.8) !important;
}

.fa-blind {
  background: url(../images/icon-blind.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 70%;
  height: 70%;
  margin-top: 10%;
}

.white-section {
  background: white;
}

.dark-section {
  background-color: #1c2a37 !important;
}

.dark-section h1 {
  color: white !important;
}

#intro {
  background: #227FBB url(../images/hero-bg.jpg) no-repeat center bottom;
  background-size: cover;
  border: 10px solid #1BC1F5;
  position: relative;
}

#intro .winner-band {
  bottom: 0px;
  left: 0;
}

.intro-overlay {
  background: rgba(51, 72, 95, 0.5);
}

header .top-bar {
  width: 82%;
}

header .top-bar,
header .main-navigation {
  background: #192530;
}

header .top-bar {
  text-align: center;
}

header .logos a img {
  width: 180px;
}

header .logo a {
  background: url("../images/logo-comision.png") no-repeat left;
  max-width: 400px;
  background-size: 100%;
  margin: -20px 0 15px 0;
}

header .main-navigation li.current > a,
header .main-navigation li a:hover {
  color: #1BC1F5;
}

.intro-content h1 {
  max-width: 100%;
}

.intro-content h1 .thin {
  font-family: "poppins-light", sans-serif;
}

.intro-content h5 {
  color: #F2C500;
  font-size: 4rem;
}

.intro-content .intro-position span {
  font-family: "poppins-light", sans-serif;
  font-size: 2.5rem;
  color: #F2C500;
}

.intro-content .intro-position strong,
.intro-content .intro-position b {
  font-family: "poppins-bold", sans-serif;
  font-size: 2.5rem;
}

.section-intro h1 {
  color: #33485F;
}

.section-intro h5 {
  color: #FF3A1F;
}

.about-content h3 {
  color: #33485F;
}

#resume .resume-header h2 {
  color: #FF3A1F;
}

.programa {
  position: relative;
  padding-top: 140px;
  padding-bottom: 5px;
}

.programa.last-section .timeline-wrap:last-child {
  padding-bottom: 100px;
}

.programa::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background: #1BC1F5;
  margin-left: 45%;
}

.programa p,
.programa h3,
.programa h4 {
  color: #2B3E51 !important;
}

.programa .timeline-ico {
  background-color: #1BC1F5;
}

.programa .timeline-ico.mayores {
  background-color: #4e6e91;
}

.programa .timeline-ico.infantil {
  background-color: #FF3A1F;
}

.programa .timeline-ico.religioso {
  background-color: #F2C500;
}

.programa .timeline-header p {
  opacity: 0.5;
}

.programa .timeline-content h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.programa .timeline-content h4:after {
  display: none;
}

.programa .resume-header h2 {
  color: #FF3A1F;
}

footer {
  min-height: 80%;
  padding-top: 4rem;
  background: url(../images/footer-bg.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
}

footer a:hover {
  color: #FF3A1F;
}

footer .copyright {
  color: rgba(255, 255, 255, 0.5);
}

.winner-band {
  background: #192530;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.winner-band h6, .winner-band strong {
  color: #4e6e91;
  font-size: 1.2rem !important;
  margin-bottom: 0;
  font-family: "poppins-light", sans-serif;
}

.winner-band strong {
  font-family: "poppins-bold", sans-serif;
}

#go-top a {
  background-color: #1BC1F5;
}

#go-top a:hover {
  background-color: #33485F;
}

#preloader {
  background: #192530;
}

.portfolio {
  padding-bottom: 200px;
}

.portfolio .folio-item:hover .overlay {
  background: rgba(25, 37, 48, 0.9);
  cursor: default;
}

.portfolio .footer h3 {
  color: white;
  text-align: center;
  margin-top: 6rem;
}
