//
    vars and mixins
//
$cyan: #1BC1F5
$blue: #227FBB
$yellow: #F2C500
$red: #FF3A1F
$night: #33485F
$night-dark: #2B3E51
$black: #192530


body
    border: 10px solid transparent
    background: $black
    color: $night
a
    color: $blue

a:hover, a:focus, a:active
	color: $cyan




#intro
    background: $blue url(../images/hero-bg.jpg) no-repeat center bottom
    background-size: cover

.intro-overlay
	background: transparentize($night, 0.5)

header
    .top-bar
        width: 82%

    .top-bar,
    .main-navigation
        background: $black


    .logo
        a
            background: url("../images/logo-comision.png") no-repeat left
            width: 291px
            height: 80px
            background-size: 100%
            margin: -20px 0 15px 0

    .main-navigation
        li.current > a,
        li a:hover
            color: $cyan

.section-intro
    h1
        color: $night

    h5
        color: $red

.about-content
    h3
        color: $night

#resume
    .resume-header
        h2
            color: $red